@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.bottom-nav {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 430px;
  height: 100px;
  background-color: $primary-background;

  &__buttons {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      background-color: $yellow;
    }

    &-img {
      height: 25px;
      width: 25px;
    }
  }
}
