@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.google-map {
  width: 100%;
  height: 100%;

  &__info {
    width: 100%;
    max-width: 350px;
    min-width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: $primary-background;
    gap: 10px;

    &-container {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &-title {
      color: $white;
      font-size: 1.5rem;
      margin: 0 auto;
    }

    &-img {
      width: 25px;
    }

    &-players {
      border-radius: 5px;
      background-color: $dark-green;
      color: $white;
      padding: 5px 10px;
    }

    &-time {
      border-radius: 5px;
      background-color: $dark-green;
      color: $white;
      padding: 5px 10px;
    }

    &-button {
      background-color: $dark-green;
      color: $green;
      width: fit-content;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      margin: 0 auto;
    }
  }
}

.gm-style-iw-chr {
  height: 0px;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: $primary-background;
}
.gm-ui-hover-effect > span {
  background-color: #ffffff;
}

.location-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.location-button {
  background-color: $primary-background;
  color: $white;
  font-size: 1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out;
}

.location-button:hover {
  background-color: #0c0f14a6;
}

.gm-style .gm-style-iw-tc::after {
  background: $primary-background;
}
