@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.landing-page {
  background-color: $primary-background;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
